{% extends "layout.html" %}
{% load tailwind_filters %}

{% block title %}
    Reset Password
{% endblock title %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        <div class="container max-w-lg mx-auto px-4 py-8">
            <h2 class="text-2xl font-bold mb-6">Reset Password</h2>
            {{ form|crispy }}
            <button type="submit" class="bg-indigo-500 text-white px-4 py-2 my-3 rounded hover:text-blue-500">Submit</button>
            <hr>
            <a href="{% url 'login' %}">Already have an account?</a>
        </div>
    </form>
{% endblock body %}